<p id="notice"><%= notice %></p>
<h1>Orbits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Form</th>
      <th>Height</th>
      <th>Engine</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<img src = "/assets/apod.jpg" width="850" height="450" align = 'right'>

  <tbody>
    <% @orbits.each do |orbit| %>
      <tr>
        <td><%= orbit.name %></td>
        <td><%= orbit.form %></td>
        <td><%= orbit.height %></td>
        <td><%= orbit.engine.name %></td>

        <td>&nbsp;</td>
        <td><%= link_to 'Show', orbit, class: 'linkButton2' %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Edit', edit_orbit_path(orbit), class: 'linkButton2' %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Destroy', orbit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'linkButton2' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= "Currently there are" + " " + @count.to_s + " " + "spaceships in orbit"%>

<p><%= link_to 'New Orbit', new_orbit_path, class: 'linkButton' %> | <%=link_to 'Measure Period', '/periods/measure', class: 'linkButton'%></p>

<a href = '/orbits.json' target = '_blank' align = 'bottom'><div class="linkButton">See Json</div></a>

<a href = 'https://api.nasa.gov/planetary/apod?api_key=6hRPShdLwc3NKUIn9ZzWTYOmbpKfWoXPIGmTdEZL' target = '_blank' ><div class="linkButton">See json for image on right</div></a>