<p id="notice"><%= notice %></p>

<h1>Orbits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Form</th>
      <th>Height</th>
      <th>Engine</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<img src = "/assets/apod.jpg" width="850" height="450" align = 'right'>

  <tbody>
    <% @orbits.each do |orbit| %>
      <tr>
        <td><%= orbit.name %></td>
        <td><%= orbit.form %></td>
        <td><%= orbit.height %></td>
        <td><%= orbit.engine.name %></td>

        <td>&nbsp;</td>
        <td><%= link_to 'Show', orbit %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Edit', edit_orbit_path(orbit) %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Destroy', orbit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= "Currently there are" + " " + @count.to_s + " " + "spaceships in orbit"%>

<p><%= link_to 'New Orbit', new_orbit_path %> | <%=link_to 'Measure Period', '/periods/measure'%></p>
 
 


