<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @engine.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @engine.model %>
</p>

<p>
  <strong>Astronauts:</strong>
  <%= @engine.astronauts %>
</p>

<div class="linkButton"><%= link_to 'Edit', edit_engine_path(@engine) %></div> |
<div class="linkButton"><%= link_to 'Back', engines_path %></div>
<br>
<a href = '<%= @engine.id %>.json' target = '_blank'><div class="linkButton">See Json</div></a>
