<h1>Enter the height of your orbit and the period will be returned</h1>
<%= form_tag( "/periods/measure", method: "get" ) do %>
<%= label_tag "Enter the height of your orbit" %>
<%= text_field_tag :height  %>
<%= submit_tag("Measure") %>

<%end%>

<h1>Your orbit will reach a full cycle in :</h1>
<h3><%= @orbit_period.to_f %> days</h3> 
