
<h1>Enter the height of your orbit and the period will be returned</h1>
<%= form_tag( "/periods/measure", method: "get" ) do %>
<%= label_tag "Enter the height of your orbit" %>
<%= text_field_tag :height, nil, placeholder: "0"  %>
<%= submit_tag "Measure", :class => 'linkButton' %>
<%end%>

<h1>Your orbit will reach a full cycle in :</h1>
<h3><%= @orbit_period_transformed %></h3> 