<%= form_with(model: monthly_weather, local: true) do |form| %>
  <% if monthly_weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monthly_weather.errors.count, "error") %> prohibited this monthly_weather from being saved:</h2>

      <ul>
        <% monthly_weather.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :month %>
    <%= form.text_field :month %>
  </div>

  <div class="field">
    <%= form.label :minTemp %>
    <%= form.text_field :minTemp %>
  </div>

  <div class="field">
    <%= form.label :maxTemp %>
    <%= form.text_field :maxTemp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>