<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @monthly_weather.month %>
</p>

<p>
  <strong>Mintemp:</strong>
  <%= @monthly_weather.minTemp %>
</p>

<p>
  <strong>Maxtemp:</strong>
  <%= @monthly_weather.maxTemp %>
</p>

<%= link_to 'Edit', edit_monthly_weather_path(@monthly_weather) %> |
<%= link_to 'Back', monthly_weathers_path %>
