<h1>Mars overview Display</h1>
<table>
  <thead>
  <tr>
    <th>Day</th>
    <th>Month</th>
    <th>Year</th>
    <th>Solstice</th>
    <th>Mintemp</th>
    <th>Maxtemp</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @weatherdata.each do |weather| %>
    <tr>
      <td><%= weather.day %></td>
      <td><%= weather.month %></td>
      <td><%= weather.year %></td>
      <td><%= weather.solstice %></td>
      <td><%= weather.minTemp %></td>
      <td><%= weather.maxTemp %></td>
      <td><%= link_to 'Show', weather %></td>
    </tr>
  <% end %>
  </tbody>
</table>