<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rover.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @rover.model %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @rover.purpose %>
</p>

<%= link_to 'Edit', edit_rover_path(@rover) %> |
<%= link_to 'Back', rovers_path %>
